AlignConsecutiveDeclarations: true
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
BasedOnStyle: LLVM
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
DerivePointerAlignment: false
IndentCaseLabels: false
IndentWidth: 8
PointerAlignment: Right
ReflowComments: true
SpacesBeforeTrailingComments: 1
UseTab: ForIndentation
